# Copiado de .env.example para desarrollo local
POSTGRES_USER=n8n
POSTGRES_PASSWORD=n8n
POSTGRES_DB=n8n

N8N_PORT=5678
N8N_HOST=your-ngrok-or-domain.example.com
N8N_PROTOCOL=https
WEBHOOK_URL=https://your-ngrok-or-domain.example.com/
NODE_ENV=development
GENERIC_TIMEZONE=America/Bogota

N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=admin@example.com
N8N_BASIC_AUTH_PASSWORD=Admin123456

GROQ_API_KEY=
TELEGRAM_BOT_API=https://core.telegram.org/bots/api
TELEGRAM_BOT_TOKEN=

GCP_CLIENT_ID=
GCP_CLIENT_SECRET=

GSHEETS_SHEET_NAME=Facturas
GSHEETS_DOCUMENT_ID=
GCP_PROJECT_ID=
GCP_FIRESTORE_BEARER_TOKEN=
